@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 7000px;
}
ul,
ol {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

:root {
  --main-color: #19c8fa;
  --secondary-color: #0f748fb3;
  --padding-section: 100px;
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
  h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 50%;
      bottom: -30px;
      transform: translateX(-50%);
      width: 120px;
      background-color: #333;
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      bottom: -40px;
      background-color: #fff;
      border: 1px solid #333;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
  }
}
/* End Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: calc(100% - 30px);
      bottom: 0;
      left: 15px;
      background-color: #a2a2a2;
    }
  }
  .logo img {
    height: 40px;
  }

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .toggle-menu {
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 767px) {
        &:hover + ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color: #000000, $alpha: 0.7);

          li a {
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
    ul {
      display: flex;
      @media (max-width: 767px) {
        display: none;
      }
      li {
        a {
          display: block;
          color: #fff;
          font-size: 14px;
          padding: 40px 10px;
          transition: 0.4s;
          text-decoration: none;
          position: relative;
          &:hover,
          &.active {
            color: var(--main-color);
            border-bottom: 1px solid var(--main-color);
            z-index: 2;
          }
        }
      }
    }
    .form {
      margin-left: 30px;
      position: relative;
      width: 40px;
      height: 30px;
      border-left: 1px solid #fff;
      i {
        color: #fff;
        position: absolute;
        font-size: 20px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}
/* End Header */
/* Start landing */
.landing {
  min-height: 100vh;
  background-image: url("./../images/landing.jpg");
  background-size: cover;
  position: relative;
  .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--secondary-color);
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    .content {
      max-width: 500px;

      h2 {
        font-size: 32px;
        font-weight: normal;
        line-height: 1.6;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 2;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .change-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    &.left {
      left: 30px;
    }
    &.right {
      right: 30px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;

    li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: 5px;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: var(--main-color);
        border-color: var(--main-color);
      }
    }
  }
}
/* End landing */
/* Start Service */
.service {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  .services-container {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      column-gap: 40px;
      row-gap: 60px;
    }
    .box {
      display: flex;

      i {
        margin-right: 40px;
        @media (max-width: 767px) {
          margin: 0 0 30px;
        }
      }
      .text {
        h3 {
          margin-bottom: 30px;
          color: var(--main-color);
        }
        p {
          line-height: 2;
          color: #777;
        }
      }
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}
/* End Service */
/* Start Design */
.design {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  height: 600px;
  background-image: url("./../images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
  .image {
    position: relative;
    z-index: 2;
    flex: 1;
    text-align: center;

    img {
      position: relative;
      bottom: -150px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .text {
    position: relative;
    z-index: 2;
    flex: 1;
    color: white;
    padding: 50px;
    background-color: var(--secondary-color);
    h2 {
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    ul {
      li {
        padding: 15px 0;
        &::before {
          font-family: "Font Awesome 5 Brands";
          content: "\f390";
          font-weight: 900;
          margin-right: 20px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

  ul.shuffle {
    display: flex;
    justify-content: center;

    li {
      padding: 10px 15px;
      &.active {
        background-color: var(--main-color);
        color: white;
      }
    }
  }
  .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    .box {
      position: relative;
      overflow: hidden;
      @media (min-width: 768px) {
        flex-basis: 50%;
      }
      @media (min-width: 1199px) {
        flex-basis: 25%;
      }
      img {
        max-width: 100%;
        transition: 0.3s;
      }
      .caption {
        position: absolute;
        left: 0;
        padding: 20px;
        background-color: white;
        width: 100%;
        transition: 0.3s;
        bottom: -100%;
        h4 {
          font-weight: normal;
          margin-bottom: 10px;
        }
        p {
          color: var(--main-color);
        }
      }
      &:hover .caption {
        bottom: 0;
      }
      &:hover img {
        transform: rotate(3deg) scale(1.1);
      }
    }
  }
  .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
  }
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  video {
    width: 100%;
  }
  .text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    h2 {
      margin: 0 0 30px;
      text-transform: uppercase;
      font-weight: normal;
    }
    p {
      margin-bottom: 20px;
    }
    button {
      background-color: #000000;
      border: none;
      color: white;
      text-transform: uppercase;
      padding: 15px 20px;
    }
  }
}
/* End Video */
/* Start About Us */
.about {
  padding-top: var(--padding-section);
  overflow: hidden;
  text-align: center;
  img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
    @media (max-width: 767px) {
      bottom: -60px;
      margin-top: -60px;
    }
  }
}
/* End About Us */
/* Start Statistics */
.statistics {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  text-align: center;
  background-image: url("./../images/stats.png");
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .box {
      color: white;
      padding: 50px;
      background-color: var(--secondary-color);
      i {
        width: 40px;
        height: 40px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto 30px;
      }
      .number {
        font-size: 50px;
        font-weight: bold;
        margin: 0 0 20px;
      }
      p {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
      @media (min-width: 768px) {
        flex-basis: 50%;
      }
      @media (min-width: 992px) {
        flex-basis: 25%;
      }
    }
  }
}
/* ENd Statistics */
/* Start Our Skills */
.our-skills {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 992px) {
      > div {
        flex-basis: 45%;
      }
    }
    > div > h3 {
      margin: 0 0 30px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
    }
    > div > p {
      color: #777;
      line-height: 2;
      text-align: center;
      margin-bottom: 60px;
    }
    .testimonials {
      .content {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 767px) {
          flex-direction: column;
          text-align: center;
        }
        img {
          width: 100px;
          border-radius: 50%;
          margin-right: 50px;
          @media (max-width: 767px) {
            margin: 0 auto 30px;
          }
        }
        .text {
          line-height: 1.8;
          border-bottom: 1px solid #ccc;
          p {
            color: #777;
            text-align: right;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
      .bullets {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        li {
          width: 14px;
          height: 14px;
          border: 1px solid #aaa;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
          &.active {
            background-color: var(--main-color);
            border-color: var(--main-color);
          }
        }
      }
    }
    .skills {
      .progress-holder {
        margin-bottom: 40px;
        h4 {
          margin-bottom: 15px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .prog {
          background-color: #dedadc;
          height: 30px;

          span {
            display: block;
            background-color: var(--main-color);
            height: 100%;
            position: relative;
            &::before {
              content: attr(data-progress);
              position: absolute;
              background-color: black;
              color: white;
              top: -40px;
              right: -18px;
              padding: 4px 0;
              width: 40px;
              text-align: center;
              border-radius: 4px;
            }
            &::after {
              content: "";
              position: absolute;
              border-width: 8px;
              border-style: solid;
              border-color: black transparent transparent transparent;
              right: -8px;
              top: -15px;
            }
          }
        }
      }
    }
  }
}
/* End Our Skills */
